<?xml version="1.0" encoding="UTF-8" ?>
<!-- Body -->
<GlobalParams>
    <SX5>
        <scan_engine>halogen</scan_engine>
        <num_of_frame>10</num_of_frame>
        <num_of_loop>10</num_of_loop>
        <num_of_save_files>100</num_of_save_files>
        <!-- NOT USED >
        <pattern_bitmap> </pattern_bitmap>
        <wait_ms>  </wait_ms>
        <show_mean_fps> </show_mean_fps>
        <callback_delay_millisecond> </callback_delay_millisecond>
        <watchdog_test> </watchdog_test>
        -->
        <frame_storage_dir>data/local/tmp</frame_storage_dir>
        <adb_pull_base_dir>test_download</adb_pull_base_dir>
    </SX5>

    <TermalChamber>
        <att1>  </att1>
        <att2>  </att2>
        <att3>  </att3>
    </TermalChamber>

</GlobalParams>
